In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s5e2/sample_submission.csv
/kaggle/input/playground-series-s5e2/train.csv
/kaggle/input/playground-series-s5e2/test.csv
/kaggle/input/playground-series-s5e2/training_extra.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_train=pd.read_csv('/kaggle/input/playground-series-s5e2/train.csv')
df_test=pd.read_csv('/kaggle/input/playground-series-s5e2/test.csv')

In [4]:
df_train.head(5)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [5]:
df_test.head(5)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
0,300000,Puma,Leather,Small,2.0,No,No,Tote,Green,20.671147
1,300001,Nike,Canvas,Medium,7.0,No,Yes,Backpack,Green,13.564105
2,300002,Adidas,Canvas,Large,9.0,No,Yes,Messenger,Blue,11.809799
3,300003,Adidas,Nylon,Large,1.0,Yes,No,Messenger,Green,18.477036
4,300004,NaN,Nylon,Large,2.0,Yes,Yes,Tote,Black,9.907953

In [6]:
df_train.describe()

                  id   Compartments  Weight Capacity (kg)          Price
count  300000.000000  300000.000000         299862.000000  300000.000000
mean   149999.500000       5.443590             18.029994      81.411107
std     86602.684716       2.890766              6.966914      39.039340
min         0.000000       1.000000              5.000000      15.000000
25%     74999.750000       3.000000             12.097867      47.384620
50%    149999.500000       5.000000             18.068614      80.956120
75%    224999.250000       8.000000             24.002375     115.018160
max    299999.000000      10.000000             30.000000     150.000000

In [7]:
df_test.describe()

                  id   Compartments  Weight Capacity (kg)
count  200000.000000  200000.000000         199923.000000
mean   399999.500000       5.442855             17.993033
std     57735.171256       2.888740              6.972079
min    300000.000000       1.000000              5.000000
25%    349999.750000       3.000000             12.068875
50%    399999.500000       5.000000             18.054750
75%    449999.250000       8.000000             23.965700
max    499999.000000      10.000000             30.000000

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    300000 non-null  int64
 1   Brand                 290295 non-null  object
 2   Material              291653 non-null  object
 3   Size                  293405 non-null  object
 4   Compartments          300000 non-null  float64
 5   Laptop Compartment    292556 non-null  object
 6   Waterproof            292950 non-null  object
 7   Style                 292030 non-null  object
 8   Color                 290050 non-null  object
 9   Weight Capacity (kg)  299862 non-null  float64
 10  Price                 300000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 25.2+ MB

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    200000 non-null  int64
 1   Brand                 193773 non-null  object
 2   Material              194387 non-null  object
 3   Size                  195619 non-null  object
 4   Compartments          200000 non-null  float64
 5   Laptop Compartment    195038 non-null  object
 6   Waterproof            195189 non-null  object
 7   Style                 194847 non-null  object
 8   Color                 193215 non-null  object
 9   Weight Capacity (kg)  199923 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 15.3+ MB

In [10]:
df_train.shape

(300000, 11)

In [11]:
df_train.isnull().sum()

id                         0
Brand                   9705
Material                8347
Size                    6595
Compartments               0
Laptop Compartment      7444
Waterproof              7050
Style                   7970
Color                   9950
Weight Capacity (kg)     138
Price                      0
dtype: int64

In [12]:
df_train_clean = df_train.dropna(subset=['Laptop Compartment', 'Waterproof'])

In [13]:
df_train_clean.isnull().sum()

id                         0
Brand                   9350
Material                8098
Size                    6369
Compartments               0
Laptop Compartment         0
Waterproof                 0
Style                   7735
Color                   9464
Weight Capacity (kg)      49
Price                      0
dtype: int64

In [14]:
unique_brand = df_train_clean['Brand'].unique().tolist()
df_train_clean['Brand'].value_counts()

Brand
Adidas          57185
Under Armour    57019
Nike            54678
Puma            53990
Jansport        53380
Name: count, dtype: int64

In [15]:
unique_Material=df_train_clean['Material'].unique().tolist()
df_train_clean['Material'].value_counts()

Material
Polyester    75554
Leather      69991
Nylon        67166
Canvas       64793
Name: count, dtype: int64

In [16]:
unique_size=df_train_clean['Size'].unique().tolist()
unique_size_counts = df_train_clean['Size'].value_counts()
unique_size_counts

Size
Medium    97016
Large     93798
Small     88419
Name: count, dtype: int64

In [17]:
df_train_clean['Style'].value_counts()

Style
Messenger    95241
Tote         92630
Backpack     89996
Name: count, dtype: int64

In [18]:
df_train_clean['Color'].value_counts()

Color
Pink     49203
Gray     47903
Blue     45731
Red      44989
Black    44158
Green    44154
Name: count, dtype: int64

Mode imputation for categorical columns

In [19]:
categorical_columns = ['Brand', 'Material', 'Size', 'Style', 'Color']

# Apply mode imputation for each categorical column
for col in categorical_columns:
    # Compute mode; mode() returns a Series so we select the first element [0]
    mode_value = df_train_clean[col].mode()[0]
    df_train_clean[col].fillna(mode_value, inplace=True)
    
print("\nDataFrame after mode imputation:")
df_train_clean

DataFrame after mode imputation:

<ipython-input-19-a77d28e241d9>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train_clean[col].fillna(mode_value, inplace=True)
<ipython-input-19-a77d28e241d9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_clean[col].fillna(mode_value, inplace=True)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312
...,...,...,...,...,...,...,...,...,...,...,...
299995,299995,Adidas,Leather,Small,9.0,No,No,Tote,Blue,12.730812,129.99749
299996,299996,Jansport,Leather,Large,6.0,No,Yes,Tote,Blue,26.633182,19.85819
299997,299997,Puma,Canvas,Large,9.0,Yes,Yes,Backpack,Pink,11.898250,111.41364
299998,299998,Adidas,Nylon,Small,1.0,No,Yes,Tote,Pink,6.175738,115.89080
299999,299999,Under Armour,Canvas,Small,2.0,No,Yes,Backpack,Black,18.568865,26.72762

In [20]:
df_train_clean.isnull().sum()

id                       0
Brand                    0
Material                 0
Size                     0
Compartments             0
Laptop Compartment       0
Waterproof               0
Style                    0
Color                    0
Weight Capacity (kg)    49
Price                    0
dtype: int64

Mean Imputation of numerical column

In [21]:
df_train_clean['Weight Capacity (kg)'].fillna(df_train_clean['Weight Capacity (kg)'].mean(),inplace=True)

<ipython-input-21-80c460f5c43b>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train_clean['Weight Capacity (kg)'].fillna(df_train_clean['Weight Capacity (kg)'].mean(),inplace=True)
<ipython-input-21-80c460f5c43b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_clean['Weight Capacity (kg)'].fillna(df_train_clean['Weight Capacity (kg)'].mean(),inplace=True)

In [22]:
df_train_clean.isnull().sum()

id                      0
Brand                   0
Material                0
Size                    0
Compartments            0
Laptop Compartment      0
Waterproof              0
Style                   0
Color                   0
Weight Capacity (kg)    0
Price                   0
dtype: int64

In [23]:
df_train_clean.shape

(285602, 11)

In [24]:
X_train = df_train_clean.drop(columns=['Price'])  # 'Price' is the target column
y_train = df_train_clean['Price']

In [25]:
print(X_train.dtypes)

id                        int64
Brand                    object
Material                 object
Size                     object
Compartments            float64
Laptop Compartment       object
Waterproof               object
Style                    object
Color                    object
Weight Capacity (kg)    float64
dtype: object

In [26]:
import xgboost as xgb

# Convert categorical columns to 'category' dtype
for col in X_train.select_dtypes(include=['object']).columns:
    X_train[col] = X_train[col].astype('category')


# Use XGBRegressor instead of XGBClassifier
model = xgb.XGBRegressor(enable_categorical=True )
model.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=True, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=None, ...)

In [27]:
df_test.head(5)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
0,300000,Puma,Leather,Small,2.0,No,No,Tote,Green,20.671147
1,300001,Nike,Canvas,Medium,7.0,No,Yes,Backpack,Green,13.564105
2,300002,Adidas,Canvas,Large,9.0,No,Yes,Messenger,Blue,11.809799
3,300003,Adidas,Nylon,Large,1.0,Yes,No,Messenger,Green,18.477036
4,300004,NaN,Nylon,Large,2.0,Yes,Yes,Tote,Black,9.907953

In [28]:
df_test

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
0,300000,Puma,Leather,Small,2.0,No,No,Tote,Green,20.671147
1,300001,Nike,Canvas,Medium,7.0,No,Yes,Backpack,Green,13.564105
2,300002,Adidas,Canvas,Large,9.0,No,Yes,Messenger,Blue,11.809799
3,300003,Adidas,Nylon,Large,1.0,Yes,No,Messenger,Green,18.477036
4,300004,NaN,Nylon,Large,2.0,Yes,Yes,Tote,Black,9.907953
...,...,...,...,...,...,...,...,...,...,...
199995,499995,Adidas,Canvas,Large,2.0,Yes,No,Messenger,Red,7.383498
199996,499996,Nike,Polyester,Small,9.0,No,Yes,Messenger,Pink,6.058394
199997,499997,Jansport,Nylon,Small,9.0,No,Yes,Tote,Green,26.890163
199998,499998,Puma,Nylon,Large,10.0,Yes,No,Tote,Gray,25.769153
199999,499999,Under Armour,Leather,Medium,8.0,Yes,Yes,Messenger,Pink,29.175026

In [29]:
df_test.isnull().sum()

id                         0
Brand                   6227
Material                5613
Size                    4381
Compartments               0
Laptop Compartment      4962
Waterproof              4811
Style                   5153
Color                   6785
Weight Capacity (kg)      77
dtype: int64

In [30]:
categorical_columns = ['Brand', 'Material', 'Size', 'Style', 'Color', 'Waterproof','Laptop Compartment']
df_test_clean=df_test
# Apply mode imputation for each categorical column
for col in categorical_columns:
    # Compute mode; mode() returns a Series so we select the first element [0]
    mode_value = df_test[col].mode()[0]
    df_test_clean[col].fillna(mode_value, inplace=True)
    
print("\nDataFrame after mode imputation:")
df_test_clean

DataFrame after mode imputation:

<ipython-input-30-6a01f1d69801>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test_clean[col].fillna(mode_value, inplace=True)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
0,300000,Puma,Leather,Small,2.0,No,No,Tote,Green,20.671147
1,300001,Nike,Canvas,Medium,7.0,No,Yes,Backpack,Green,13.564105
2,300002,Adidas,Canvas,Large,9.0,No,Yes,Messenger,Blue,11.809799
3,300003,Adidas,Nylon,Large,1.0,Yes,No,Messenger,Green,18.477036
4,300004,Adidas,Nylon,Large,2.0,Yes,Yes,Tote,Black,9.907953
...,...,...,...,...,...,...,...,...,...,...
199995,499995,Adidas,Canvas,Large,2.0,Yes,No,Messenger,Red,7.383498
199996,499996,Nike,Polyester,Small,9.0,No,Yes,Messenger,Pink,6.058394
199997,499997,Jansport,Nylon,Small,9.0,No,Yes,Tote,Green,26.890163
199998,499998,Puma,Nylon,Large,10.0,Yes,No,Tote,Gray,25.769153
199999,499999,Under Armour,Leather,Medium,8.0,Yes,Yes,Messenger,Pink,29.175026

In [31]:
df_test_clean.isnull().sum()

id                       0
Brand                    0
Material                 0
Size                     0
Compartments             0
Laptop Compartment       0
Waterproof               0
Style                    0
Color                    0
Weight Capacity (kg)    77
dtype: int64

In [32]:
mean_value = df_test_clean['Weight Capacity (kg)'].mean()
df_test_clean['Weight Capacity (kg)'].fillna(mean_value, inplace=True)

<ipython-input-32-2cc8308fa6d9>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_test_clean['Weight Capacity (kg)'].fillna(mean_value, inplace=True)

In [33]:
df_test_clean.isnull().sum()

id                      0
Brand                   0
Material                0
Size                    0
Compartments            0
Laptop Compartment      0
Waterproof              0
Style                   0
Color                   0
Weight Capacity (kg)    0
dtype: int64

In [34]:
X_test = df_test_clean

In [35]:
import xgboost as xgb
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

# Ensure categorical columns in df_test match training data
for col in df_test.select_dtypes(include=['object']).columns:
    df_test[col] = df_test[col].astype('category')  # Convert to category dtype

# Predict using the trained XGBoost model
y_pred = model.predict(df_test)

# Display some predictions
print(y_pred[:10])

[95.26662  77.331635 82.593285 92.90221  78.60492  82.105644 85.42482
 80.7896   86.514854 77.338776]

In [36]:
# Assuming df_test has an index or an ID column
df_predictions = pd.DataFrame({
    'ID': df_test.index,  # Change 'ID' if you have a specific column
    'Predicted_Values': y_pred
})

# Save to CSV
df_predictions.to_csv('predictions_with_ids.csv', index=False)

print("Predictions with IDs saved to predictions_with_ids.csv successfully! ✅")

Predictions with IDs saved to predictions_with_ids.csv successfully! ✅