In [24]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s5e2/sample_submission.csv
/kaggle/input/playground-series-s5e2/train.csv
/kaggle/input/playground-series-s5e2/test.csv
/kaggle/input/playground-series-s5e2/training_extra.csv

In [25]:
import pandas as pd
import numpy as np

In [26]:
df_train=pd.read_csv('/kaggle/input/playground-series-s5e2/train.csv')
df_test=pd.read_csv('/kaggle/input/playground-series-s5e2/test.csv')

In [27]:
df_train.head(5)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312

In [28]:
df_test.head(5)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
0,300000,Puma,Leather,Small,2.0,No,No,Tote,Green,20.671147
1,300001,Nike,Canvas,Medium,7.0,No,Yes,Backpack,Green,13.564105
2,300002,Adidas,Canvas,Large,9.0,No,Yes,Messenger,Blue,11.809799
3,300003,Adidas,Nylon,Large,1.0,Yes,No,Messenger,Green,18.477036
4,300004,NaN,Nylon,Large,2.0,Yes,Yes,Tote,Black,9.907953

In [29]:
df_train.describe()

                  id   Compartments  Weight Capacity (kg)          Price
count  300000.000000  300000.000000         299862.000000  300000.000000
mean   149999.500000       5.443590             18.029994      81.411107
std     86602.684716       2.890766              6.966914      39.039340
min         0.000000       1.000000              5.000000      15.000000
25%     74999.750000       3.000000             12.097867      47.384620
50%    149999.500000       5.000000             18.068614      80.956120
75%    224999.250000       8.000000             24.002375     115.018160
max    299999.000000      10.000000             30.000000     150.000000

In [30]:
df_test.describe()

                  id   Compartments  Weight Capacity (kg)
count  200000.000000  200000.000000         199923.000000
mean   399999.500000       5.442855             17.993033
std     57735.171256       2.888740              6.972079
min    300000.000000       1.000000              5.000000
25%    349999.750000       3.000000             12.068875
50%    399999.500000       5.000000             18.054750
75%    449999.250000       8.000000             23.965700
max    499999.000000      10.000000             30.000000

In [31]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    300000 non-null  int64
 1   Brand                 290295 non-null  object
 2   Material              291653 non-null  object
 3   Size                  293405 non-null  object
 4   Compartments          300000 non-null  float64
 5   Laptop Compartment    292556 non-null  object
 6   Waterproof            292950 non-null  object
 7   Style                 292030 non-null  object
 8   Color                 290050 non-null  object
 9   Weight Capacity (kg)  299862 non-null  float64
 10  Price                 300000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 25.2+ MB

In [32]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    200000 non-null  int64
 1   Brand                 193773 non-null  object
 2   Material              194387 non-null  object
 3   Size                  195619 non-null  object
 4   Compartments          200000 non-null  float64
 5   Laptop Compartment    195038 non-null  object
 6   Waterproof            195189 non-null  object
 7   Style                 194847 non-null  object
 8   Color                 193215 non-null  object
 9   Weight Capacity (kg)  199923 non-null  float64
dtypes: float64(2), int64(1), object(7)
memory usage: 15.3+ MB

In [33]:
df_train.shape

(300000, 11)

In [34]:
df_train.isnull().sum()

id                         0
Brand                   9705
Material                8347
Size                    6595
Compartments               0
Laptop Compartment      7444
Waterproof              7050
Style                   7970
Color                   9950
Weight Capacity (kg)     138
Price                      0
dtype: int64

In [35]:
df_train_clean = df_train.dropna(subset=['Laptop Compartment', 'Waterproof'])

In [36]:
df_train_clean.isnull().sum()

id                         0
Brand                   9350
Material                8098
Size                    6369
Compartments               0
Laptop Compartment         0
Waterproof                 0
Style                   7735
Color                   9464
Weight Capacity (kg)      49
Price                      0
dtype: int64

In [37]:
unique_brand = df_train_clean['Brand'].unique().tolist()
df_train_clean['Brand'].value_counts()

Brand
Adidas          57185
Under Armour    57019
Nike            54678
Puma            53990
Jansport        53380
Name: count, dtype: int64

In [38]:
unique_Material=df_train_clean['Material'].unique().tolist()
df_train_clean['Material'].value_counts()

Material
Polyester    75554
Leather      69991
Nylon        67166
Canvas       64793
Name: count, dtype: int64

In [39]:
unique_size=df_train_clean['Size'].unique().tolist()
unique_size_counts = df_train_clean['Size'].value_counts()
unique_size_counts

Size
Medium    97016
Large     93798
Small     88419
Name: count, dtype: int64

In [40]:
df_train_clean['Style'].value_counts()

Style
Messenger    95241
Tote         92630
Backpack     89996
Name: count, dtype: int64

In [41]:
df_train_clean['Color'].value_counts()

Color
Pink     49203
Gray     47903
Blue     45731
Red      44989
Black    44158
Green    44154
Name: count, dtype: int64

Mode imputation for categorical columns

In [42]:
categorical_columns = ['Brand', 'Material', 'Size', 'Style', 'Color']

# Apply mode imputation for each categorical column
for col in categorical_columns:
    # Compute mode; mode() returns a Series so we select the first element [0]
    mode_value = df_train_clean[col].mode()[0]
    df_train_clean[col].fillna(mode_value, inplace=True)
    
print("\nDataFrame after mode imputation:")
df_train_clean

DataFrame after mode imputation:

<ipython-input-42-a77d28e241d9>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train_clean[col].fillna(mode_value, inplace=True)
<ipython-input-42-a77d28e241d9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_clean[col].fillna(mode_value, inplace=True)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320
3,3,Nike,Nylon,Small,8.0,Yes,No,Messenger,Green,12.937220,80.60793
4,4,Adidas,Canvas,Medium,1.0,Yes,Yes,Messenger,Green,17.749338,86.02312
...,...,...,...,...,...,...,...,...,...,...,...
299995,299995,Adidas,Leather,Small,9.0,No,No,Tote,Blue,12.730812,129.99749
299996,299996,Jansport,Leather,Large,6.0,No,Yes,Tote,Blue,26.633182,19.85819
299997,299997,Puma,Canvas,Large,9.0,Yes,Yes,Backpack,Pink,11.898250,111.41364
299998,299998,Adidas,Nylon,Small,1.0,No,Yes,Tote,Pink,6.175738,115.89080
299999,299999,Under Armour,Canvas,Small,2.0,No,Yes,Backpack,Black,18.568865,26.72762

In [43]:
df_train_clean.isnull().sum()

id                       0
Brand                    0
Material                 0
Size                     0
Compartments             0
Laptop Compartment       0
Waterproof               0
Style                    0
Color                    0
Weight Capacity (kg)    49
Price                    0
dtype: int64

Mean Imputation of numerical column

In [44]:
df_train_clean['Weight Capacity (kg)'].fillna(df_train_clean['Weight Capacity (kg)'].mean(),inplace=True)

<ipython-input-44-80c460f5c43b>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_train_clean['Weight Capacity (kg)'].fillna(df_train_clean['Weight Capacity (kg)'].mean(),inplace=True)
<ipython-input-44-80c460f5c43b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train_clean['Weight Capacity (kg)'].fillna(df_train_clean['Weight Capacity (kg)'].mean(),inplace=True)

In [45]:
df_train_clean.isnull().sum()

id                      0
Brand                   0
Material                0
Size                    0
Compartments            0
Laptop Compartment      0
Waterproof              0
Style                   0
Color                   0
Weight Capacity (kg)    0
Price                   0
dtype: int64

# label encoding

In [46]:
from sklearn.preprocessing import LabelEncoder
def function labelencoding(df_train_clean):
    le = LabelEncoder()
    df_train_encoded=df_train_clean
    df_train_encoded['Brand'] = le.fit_transform(df_train_clean['Brand'])
    df_train_encoded['Material']=le.fit_transform(df_train_clean['Material'])
    df_train_encoded['Size']=le.fit_transform(df_train_clean['Size'])
    df_train_encoded['Waterproof']=le.fit_transform(df_train_clean['Waterproof'])
    df_train_encoded['Color']=le.fit_transform(df_train_clean['Color'])
    df_train_encoded['Style']=le.fit_transform(df_train_clean['Style'])
    df_train_encoded['Laptop Compartment']=le.fit_transform(df_train_clean['Laptop Compartment'])
    return df_train_encoded

SyntaxError: invalid syntax (<ipython-input-46-fc70f28742b6>, line 1)

In [ ]:
df_train_encoded=labelencoding(df_train_clean)

# One Hot encoding

In [47]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

def onehotencode(df_train_clean):
   
    encoder = OneHotEncoder(drop='first', sparse_output=False)  # drop='first' to avoid dummy variable trap
    
    # Selecting categorical columns
    cat_cols = ['Brand', 'Material', 'Size', 'Compartments', 'Laptop Compartment',
                'Waterproof', 'Style', 'Color']

    # Ensure the categorical columns exist in the DataFrame
    cat_cols = [col for col in cat_cols if col in df_train_clean.columns]

    if not cat_cols:
        print("No categorical columns found for encoding.")
        return df_train_clean  # Return original if no valid categorical columns

    # Fit-transform categorical columns
    encoded_array = encoder.fit_transform(df_train_clean[cat_cols])

    # Create DataFrame with encoded values
    encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(cat_cols))

    # Concatenate with the original DataFrame (dropping original categorical columns)
    df_final = pd.concat([df_train_clean.drop(columns=cat_cols), encoded_df], axis=1)

    return df_final  # Returning the transformed DataFrame

In [48]:
df_train_encoded=onehotencode(df_train_clean)

In [49]:
df_train_encoded.head(5)

,id,Weight Capacity (kg),Price,Brand_Jansport,Brand_Nike,Brand_Puma,Brand_Under Armour,Material_Leather,Material_Nylon,Material_Polyester,...,Compartments_10.0,Laptop Compartment_Yes,Waterproof_Yes,Style_Messenger,Style_Tote,Color_Blue,Color_Gray,Color_Green,Color_Pink,Color_Red
0,0.0,11.611723,112.15875,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,27.078537,68.88056,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2.0,16.643760,39.17320,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3.0,12.937220,80.60793,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4.0,17.749338,86.02312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [50]:
df_train_encoded.shape

(299298, 30)

In [52]:
X_train = df_train_encoded.drop(columns=['Price'])  # 'Price' is the target column
y_train = df_train_encoded['Price']

In [53]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score, KFold
import numpy as np

# Define KFold cross-validation
kf = KFold(n_splits=5, shuffle=True, random_state=42)

# Choose a model (RandomForestRegressor)
model = RandomForestRegressor(n_estimators=100, random_state=42)

# Perform cross-validation scoring
cv_scores = cross_val_score(model, X_train, y_train, cv=kf, scoring='neg_mean_squared_error')

# Convert negative MSE to RMSE
rmse_scores = np.sqrt(-cv_scores)

print(f"Cross-Validation RMSE Scores: {rmse_scores}")
print(f"Mean RMSE: {rmse_scores.mean()}")
print(f"Standard Deviation RMSE: {rmse_scores.std()}")

ValueError:
All the 5 fits failed.
It is very likely that your model is misconfigured.
You can try to debug the error by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_forest.py", line 345, in fit
    X, y = self._validate_data(
  File "/usr/local/lib/python3.10/dist-packages/sklearn/base.py", line 584, in _validate_data
    X, y = check_X_y(X, y, **check_params)
  File "/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py", line 1106, in check_X_y
    X = check_array(
  File "/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py", line 921, in check_array
    _assert_all_finite(
  File "/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py", line 161, in _assert_all_finite
    raise ValueError(msg_err)
ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [54]:
model.fit(X_train, y_train)

ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values